*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Balsamiq Sans', cursive;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
.backgroud{
    margin-top: 110px;
    margin-left: 170px;
}
.backgroud img{
    width: 650px;
}
.signin-form{
    margin-top: -34%;
    margin-left: 65%;
    width: 400px;
    height: auto;
    padding: 30px;
}
.signin-form .logo{
    margin: auto;
    width: 120px;
}
.signin-form h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    font-weight: bold;
}
.signin-form .form-group{
    height: 50px;
	width: auto;
    position: relative;
    margin-top: 20px;
}
.signin-form .form-group input{
    padding-left: 40px;
    height: 100%;
	width: 100%;
	border: none;
	font-size: 20px;
	border-bottom: 2px solid  #d9d9d9;
}
.signin-form .form-group i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color:#d9d9d9;
    transition: .5s;
}
.form-group input:focus ~ i:before,
.form-group input:valid ~ i:before{
    color: red;
}
.form-group input:focus ~ label,
.form-group input:valid ~ label{
    transform: translateY(-30px);
    font-size: 22px;
}
.signin-form .form-group .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.form-group .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #e6231c;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.form-group input:focus ~ .underline:before,
.form-group input:valid ~ .underline:before{
    transform: scaleX(1);
}
.signin-form .form-group label{
    padding-left: 40px;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    color:#999;
    pointer-events:none;
    transition: all 0.3s ease;
}
.signin-form .btn{
    font-family: 'Balsamiq Sans', cursive;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    border-radius: 50px;
    border: none;
    background-color: red;
}
.signin-form .btn-create{
    margin-top: -10px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: #1EE12C;
    cursor: pointer;
}